<div class="container text-center">
<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
</ul>
<%= link_to "Create a review", new_restaurant_review_path(@restaurant, @review) %>
<br>

<%= link_to "All restaurants", restaurants_path %>
</div>
